DFC.Integration.AVFeed/DFC.Integration.AVFeed.Service.AVSoapAPI/Connected Services/FAA/VacancyDetails51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.imservices.org.uk/AVMS/Interfaces/5.1" elementFormDefault="qualified" targetNamespace="http://services.imservices.org.uk/AVMS/Interfaces/5.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://pre-soapapi.findapprenticeship.service.gov.uk/services/VacancyDetails/VacancyDetails51.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Capgemini.LSC.Navms.MS.Common.Enums" />
  <xs:import schemaLocation="https://pre-soapapi.findapprenticeship.service.gov.uk/services/VacancyDetails/VacancyDetails51.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://pre-soapapi.findapprenticeship.service.gov.uk/services/VacancyDetails/VacancyDetails51.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Capgemini.LSC.Navms.MS.Common.Enum" />
  <xs:element name="VacancyDetailsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VacancySearchCriteria" nillable="true" type="tns:VacancySearchData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="VacancySearchData">
    <xs:sequence>
      <xs:element minOccurs="0" name="VacancyReferenceId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OccupationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FrameworkCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Capgemini.LSC.Navms.MS.Common.Enums" name="VacancyLocationType" type="q1:VacancyDetailsSearchLocationType" />
      <xs:element minOccurs="0" name="CountyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Town" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VacancyPublishedDate" nillable="true" type="xs:dateTime" />
      <xs:element name="PageIndex" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VacancySearchData" nillable="true" type="tns:VacancySearchData" />
  <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" name="ExternalSystemId" type="q2:guid" />
  <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" name="MessageId" type="q3:guid" />
  <xs:element name="PublicKey" nillable="true" type="xs:string" />
  <xs:element name="VacancyDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="MessageId" type="q4:guid" />
        <xs:element minOccurs="0" name="SearchResults" nillable="true" type="tns:VacancyDetailResponseData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="VacancyDetailResponseData">
    <xs:sequence>
      <xs:element name="AVMSHeader" nillable="true" type="tns:WebInterfaceGenericDetailsData" />
      <xs:element name="SearchResults" nillable="true" type="tns:ArrayOfVacancyFullData" />
      <xs:element name="TotalPages" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VacancyDetailResponseData" nillable="true" type="tns:VacancyDetailResponseData" />
  <xs:complexType name="WebInterfaceGenericDetailsData">
    <xs:sequence>
      <xs:element name="ApprenticeshipVacanciesDescription" nillable="true" type="xs:string" />
      <xs:element name="ApprenticeshipVacanciesURL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebInterfaceGenericDetailsData" nillable="true" type="tns:WebInterfaceGenericDetailsData" />
  <xs:complexType name="ArrayOfVacancyFullData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VacancyFullData" nillable="true" type="tns:VacancyFullData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVacancyFullData" nillable="true" type="tns:ArrayOfVacancyFullData" />
  <xs:complexType name="VacancyFullData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:VacancySummaryData">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContactPerson" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContractOwner" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeliveryOrganisation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmployerDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmployerWebsite" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExpectedDuration" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FullDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FutureProspects" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InterviewFromDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IsDisplayRecruitmentAgency" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsSmallEmployerWageIncentive" type="xs:boolean" />
          <xs:element minOccurs="0" name="LearningProviderDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LearningProviderSectorPassRate" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="OtherImportantInformation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PersonalQualities" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PossibleStartDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="QualificationRequired" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SkillsRequired" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SupplementaryQuestion1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SupplementaryQuestion2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TrainingToBeProvided" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VacancyManager" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VacancyOwner" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Wage" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="WageText" nillable="true" type="xs:string" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Capgemini.LSC.Navms.MS.Common.Enum" minOccurs="0" name="WageType" type="q5:WageType" />
          <xs:element minOccurs="0" name="WorkingWeek" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VacancyFullData" nillable="true" type="tns:VacancyFullData" />
  <xs:complexType name="VacancySummaryData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApprenticeshipFramework" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClosingDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmployerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LearningProviderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfPositions" type="xs:int" />
      <xs:element minOccurs="0" name="ShortDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VacancyAddress" nillable="true" type="tns:AddressData" />
      <xs:element minOccurs="0" name="VacancyLocationType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VacancyReference" type="xs:int" />
      <xs:element minOccurs="0" name="VacancyTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VacancyType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VacancyUrl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VacancySummaryData" nillable="true" type="tns:VacancySummaryData" />
  <xs:complexType name="AddressData">
    <xs:sequence>
      <xs:element name="AddressLine1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressLine2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressLine3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressLine4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressLine5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="County" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GridEastM" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="GridNorthM" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:decimal" />
      <xs:element name="PostCode" nillable="true" type="xs:string" />
      <xs:element name="Town" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocalAuthority" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressData" nillable="true" type="tns:AddressData" />
  <xs:complexType name="SystemFaultContract">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="SystemFaultContract" nillable="true" type="tns:SystemFaultContract" />
</xs:schema>