DFC.Integration.AVFeed/DFC.Integration.AVFeed.Service.AVSoapAPI/Connected Services/FAA/VacancyDetailsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://services.imservices.org.uk/AVMS/Interfaces/5.1" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VacancyDetailsService" targetNamespace="http://services.imservices.org.uk/AVMS/Interfaces/5.1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IVacancyDetails_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://services.imservices.org.uk/AVMS/Interfaces/5.1/Imports">
      <xsd:import schemaLocation="https://pre-soapapi.findapprenticeship.service.gov.uk/services/VacancyDetails/VacancyDetails51.svc?xsd=xsd0" namespace="http://services.imservices.org.uk/AVMS/Interfaces/5.1" />
      <xsd:import schemaLocation="https://pre-soapapi.findapprenticeship.service.gov.uk/services/VacancyDetails/VacancyDetails51.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://pre-soapapi.findapprenticeship.service.gov.uk/services/VacancyDetails/VacancyDetails51.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Capgemini.LSC.Navms.MS.Common.Enums" />
      <xsd:import schemaLocation="https://pre-soapapi.findapprenticeship.service.gov.uk/services/VacancyDetails/VacancyDetails51.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Capgemini.LSC.Navms.MS.Common.Enum" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="VacancyDetailsRequest">
    <wsdl:part name="parameters" element="tns:VacancyDetailsRequest" />
  </wsdl:message>
  <wsdl:message name="VacancyDetailsRequest_Headers">
    <wsdl:part name="ExternalSystemId" element="tns:ExternalSystemId" />
    <wsdl:part name="MessageId" element="tns:MessageId" />
    <wsdl:part name="PublicKey" element="tns:PublicKey" />
  </wsdl:message>
  <wsdl:message name="VacancyDetailsResponse">
    <wsdl:part name="parameters" element="tns:VacancyDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IVacancyDetails_Get_SystemFaultContractFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SystemFaultContract" />
  </wsdl:message>
  <wsdl:portType name="IVacancyDetails">
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://services.imservices.org.uk/AVMS/Interfaces/5.1/IVacancyDetails/Get" name="VacancyDetailsRequest" message="tns:VacancyDetailsRequest" />
      <wsdl:output wsaw:Action="http://services.imservices.org.uk/AVMS/Interfaces/5.1/IVacancyDetails/GetResponse" name="VacancyDetailsResponse" message="tns:VacancyDetailsResponse" />
      <wsdl:fault wsaw:Action="http://services.imservices.org.uk/AVMS/Interfaces/5.1/IVacancyDetails/GetSystemFaultContractFault" name="SystemFaultContractFault" message="tns:IVacancyDetails_Get_SystemFaultContractFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVacancyDetails" type="tns:IVacancyDetails">
    <wsp:PolicyReference URI="#BasicHttpBinding_IVacancyDetails_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://services.imservices.org.uk/AVMS/Interfaces/5.1/IVacancyDetails/Get" style="document" />
      <wsdl:input name="VacancyDetailsRequest">
        <soap:header message="tns:VacancyDetailsRequest_Headers" part="ExternalSystemId" use="literal" />
        <soap:header message="tns:VacancyDetailsRequest_Headers" part="MessageId" use="literal" />
        <soap:header message="tns:VacancyDetailsRequest_Headers" part="PublicKey" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="VacancyDetailsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SystemFaultContractFault">
        <soap:fault use="literal" name="SystemFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VacancyDetailsService">
    <wsdl:port name="BasicHttpBinding_IVacancyDetails" binding="tns:BasicHttpBinding_IVacancyDetails">
      <soap:address location="https://pre-soapapi.findapprenticeship.service.gov.uk/services/VacancyDetails/VacancyDetails51.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>